body{
    margin: 0;
    padding: 0;
}

nav {

    width: 100vw;
    height: 10vh;
    background-color: antiquewhite;
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
nav a{
     
    border: 2px solid rgb(207, 134, 98);
    border-radius: 4px;
    padding: 6px;
    text-decoration: none;
    color: rgb(111, 101, 101);
}